<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MedEcommerce{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Material Symbols Outlined -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:FILL@0..1" />
    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <!-- Leaflet CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
            <div class="headerMapArea">
            <div class="relative">
                <header class="nav-menu px-20 py-2 mx-auto flex items-center justify-between relative z-10">
                    <div class="max-w-[150px] max-h-10">
                        <a href="{% url 'home' %}"><img src="/static/img/logo.png" alt="logo" class="max-w-[150px] max-h-10" /></a>
                    </div>
                    <nav class="">
                        <div class="">
                            <button id="menu-btn" class="md:hidden text-white focus:outline-none">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 6h16M4 12h16M4 18h16" />
                                </svg>
                            </button>
                            <ul id="menu" class="hidden md:flex space-x-6 items-center">
                                <li class="relative group">
                                    <a class="flex items-center focus:outline-none">
                                        Home
                                        <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 9l-7 7-7-7" />
                                        </svg>
                                    </a>
                                    <!-- Submenu -->
                                    <ul
                                        class="submenu absolute left-0 top-full mt-2 w-40 bg-white text-gray-800 rounded shadow-lg opacity-0 group-hover:opacity-100 group-hover:visible invisible transition-all duration-300 ease-in-out z-10">
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-blue-100 font-normal">Web
                                                Design</a>
                                        </li>
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-blue-100 font-normal">SEO</a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                class="block px-4 py-2 hover:bg-blue-100 font-normal">Consulting</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="relative group">
                                    <a class="flex items-center focus:outline-none">
                                        Medicine
                                        <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 9l-7 7-7-7" />
                                        </svg>
                                    </a>
                                    <!-- Submenu -->
                                    <ul
                                        class="submenu absolute left-0 top-full mt-2 w-40 bg-white text-gray-800 rounded shadow-lg opacity-0 group-hover:opacity-100 group-hover:visible invisible transition-all duration-300 ease-in-out z-10">
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-blue-100 font-normal">Web
                                                Design</a>
                                        </li>
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-blue-100 font-normal">SEO</a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                class="block px-4 py-2 hover:bg-blue-100 font-normal">Consulting</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="relative group">
                                    <a class="flex items-center focus:outline-none">
                                        Maps
                                        <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 9l-7 7-7-7" />
                                        </svg>
                                    </a>
                                    <!-- Submenu -->
                                    <ul
                                        class="submenu absolute left-0 top-full mt-2 w-40 bg-white text-gray-800 rounded shadow-lg opacity-0 group-hover:opacity-100 group-hover:visible invisible transition-all duration-300 ease-in-out z-10">
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-blue-100 font-normal">Web
                                                Design</a>
                                        </li>
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-blue-100 font-normal">SEO</a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                class="block px-4 py-2 hover:bg-blue-100 font-normal">Consulting</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="relative group">
                                    <a class="flex items-center focus:outline-none">
                                        Services
                                        <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 9l-7 7-7-7" />
                                        </svg>
                                    </a>
                                    <!-- Submenu -->
                                    <ul
                                        class="submenu absolute left-0 top-full mt-2 w-40 bg-white text-gray-800 rounded shadow-lg opacity-0 group-hover:opacity-100 group-hover:visible invisible transition-all duration-300 ease-in-out z-10">
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-blue-100 font-normal">Web
                                                Design</a>
                                        </li>
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-blue-100 font-normal">SEO</a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                class="block px-4 py-2 hover:bg-blue-100 font-normal">Consulting</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#" class="">Records</a></li>
                                <li><a href="#" class="">Rewards</a></li>
                                <li><a href="#" class="">Support</a></li>
                                <li><a href="#" class="flex items-center gap-2"><i class="fa-regular fa-user"></i><span
                                            class="text-[#238b6d]">Login/Sign Up</span></a></li>
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <ul id="mobile-menu" class="md:hidden hidden flex-col space-y-2 mt-2 text-white px-4">
                            <li><a href="#" class="block">Home</a></li>
                            <li><a href="#" class="block">About</a></li>
                            <li>
                                <button id="mobile-submenu-btn" class="flex items-center w-full focus:outline-none">
                                    Services
                                    <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 9l-7 7-7-7" />
                                    </svg>
                                </button>
                                <ul id="mobile-submenu" class="hidden flex-col pl-4 mt-1 space-y-1">
                                    <li>
                                        <a href="#" class="block hover:text-gray-300">Web Design</a>
                                    </li>
                                    <li><a href="#" class="block hover:text-gray-300">SEO</a></li>
                                    <li>
                                        <a href="#" class="block hover:text-gray-300">Consulting</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#" class="">Records</a></li>
                            <li><a href="#" class="">Rewards</a></li>
                            <li><a href="#" class="">Support</a></li>
                            <li><a href="#" class="text-[#238b6d]">Login/Sign Up</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Top Footer Content -->
        <div
            class="bg-gray-tint px-6 sm:px-10 md:px-16 xl:px-20 py-16 md:py-20 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10">
            <!-- Logo & Contact -->
            <div class="flex flex-col gap-3.5">
                <a href="#">
                    <img src="/static/img/logo.png" alt="logo" class="max-w-[150px] max-h-10" />
                </a>
                <div class="flex flex-col gap-3">
                    <h3 class="text-15-semibold text-dark-charcoal">
                        Phone:
                        <span class="text-dim-gray text-15-normal">(+123) 456-7898</span>
                    </h3>
                    <h3 class="text-15-semibold text-dark-charcoal">
                        Email:
                        <span class="text-dim-gray text-15-normal">hello@drodo.com</span>
                    </h3>
                    <h3 class="text-15-semibold text-dark-charcoal">
                        Address:
                        <span class="text-dim-gray text-15-normal">6890 Blvd, The Bronx, NY 1058, USA</span>
                    </h3>
                </div>
                <!-- Social Icons -->
                <div class="flex gap-3 flex-wrap">
                    <a href="#"><img src="/static/img/facebook-icon.svg" alt="facebook-icon" /></a>
                    <a href="#"><img src="/static/img/twitter-icon.svg" alt="twitter-icon" /></a>
                    <a href="#"><img src="/static/img/Instagram-icon.svg" alt="Instagram-icon" /></a>
                    <a href="#"><img src="/static/img/linkdin-icon.svg" alt="linkdin-icon" /></a>
                    <a href="#"><img src="/static/img/Pinterest-icon.svg" alt="Pinterest-icon" /></a>
                </div>
            </div>

            <!-- Information -->
            <nav class="footer-nav flex flex-col gap-7">
                <div>
                    <h3 class="text-22-bold text-dark-slate">Information</h3>
                    <hr class="w-20 text-sea-green-deep border-t-2" />
                </div>
                <ul class="space-y-3 list-disc text-15-normal text-dim-gray pl-4">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </nav>

            <!-- Customer Care -->
            <nav class="footer-nav flex flex-col gap-7">
                <div>
                    <h3 class="text-22-bold text-dark-slate">Customer Care</h3>
                    <hr class="w-20 text-sea-green-deep border-t-2" />
                </div>
                <ul class="space-y-3 list-disc text-15-normal text-dim-gray pl-4">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">Records</a></li>
                    <li><a href="#">Rewards</a></li>
                    <li><a href="#">Help & FAQs</a></li>
                </ul>
            </nav>

            <!-- Policy -->
            <nav class="footer-nav flex flex-col gap-7">
                <div>
                    <h3 class="text-22-bold text-dark-slate">Policy</h3>
                    <hr class="w-20 text-sea-green-deep border-t-2" />
                </div>
                <ul class="space-y-3 list-disc text-15-normal text-dim-gray pl-4">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Purchasing Policy</a></li>
                    <li><a href="#">Orders and Returns</a></li>
                </ul>
            </nav>

            <!-- Newsletter -->
            <nav class="flex flex-col gap-5">
                <div>
                    <h3 class="text-22-bold text-dark-slate">Newsletter</h3>
                    <hr class="w-20 text-sea-green-deep border-t-2" />
                </div>
                <p class="text-15-normal text-dim-gray">
                    Sign up for our mailing list to get the latest updates & offers.
                </p>
                <div class="space-y-3">
                    <input type="email" placeholder="Enter your email address"
                        class="h-[50px] w-full py-3 px-4 text-muted-gray placeholder:text-muted-gray focus:outline-none focus:ring-0 rounded border border-light-gray text-15-normal" />
                    <button
                        class="w-full py-3 px-6 flex items-center justify-center rounded bg-sea-green-deep text-15-semibold text-white hover:opacity-90 transition cursor-pointer">
                        Subscribe Now
                    </button>
                </div>
            </nav>
        </div>

        <!-- Bottom Footer Strip -->
        <div class="bg-snow-gray py-6 px-6 sm:px-10 md:px-16 xl:px-20 w-full">
            <div class="flex flex-col sm:flex-row justify-between items-center gap-4 text-center sm:text-left">
                <p class="text-dim-gray text-15-normal">
                    @ Avatar. Designed By Aibuzz
                </p>
                <div class="flex flex-col sm:flex-row sm:items-center gap-3">
                    <p class="text-dim-gray text-15-normal">
                        We accept payment via:
                    </p>
                    <div class="flex items-center flex-wrap gap-2 sm:gap-[10px] justify-center sm:justify-start">
                        <img src="/static/img/payment-via-1.png" alt="payment-1" class="h-6" />
                        <img src="/static/img/payment-via-5.png" alt="payment-2" class="h-6" />
                        <img src="/static/img/payment-via-4.png" alt="payment-3" class="h-6" />
                        <img src="/static/img/payment-via-3.png" alt="payment-4" class="h-6" />
                        <img src="/static/img/payment-via-2.png" alt="payment-5" class="h-6" />
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/static/script/map.js"></script>
{% block extra_js %} 
{% endblock %}  
</body>
</html>