{% extends 'home/layout.html' %}

{% load static %}

{% block content%}
<section class="relative min-h-[calc(100vh-68px)] overflow-hidden bg-blue-light">

    <!-- Background -->
    <img src="{% static 'img/request-service/request-service-hero-bg.webp' %}" alt="" aria-hidden="true"
        class="absolute inset-0 h-150 w-full object-contain object-[center_20%] lg:object-right z-0 pointer-events-none">
    <div class="absolute inset-0 bg-linear-to-b from-transparent via-transparent to-white/30 pointer-events-none"></div>

    <div
        class="relative z-10 mx-10 grid max-w-7xl items-center gap-10 px-5 py-12 md:px-8 md:py-16 lg:grid-cols-[1.05fr_0.95fr] lg:gap-8 lg:py-20">

        <div class="max-w-xl lg:max-w-none">
            <div class="flex items-center gap-2">

                <span class="material-symbols-outlined">home</span>
                <span>Home</span>
                <span class="material-symbols-outlined">chevron_right</span>
                <span>Request Service</span>
            </div>
            <h1
                class="hero-rise hero-rise-d1 text-h3 font-bold leading-[1.1] tracking-tight text-gunmetal-blue md:text-h2 lg:text-h1 pt-10">
                Request Service in<br>
                <span class="text-royal-blue">3 Simple Steps</span><br>

            </h1>

            <p class="hero-rise hero-rise-d2 mt-5 max-w-md text-b1 leading-relaxed text-space-blue font-semibold">
                Tell us what service you need , where and when. <br>
                We'll connect you with the best engineers & vendors
            </p>

            <div class="flex items-center gap-10 pt-8">
                <div class="flex items-center gap-3">
                    <div class="w-9 h-9 rounded-full flex items-center justify-center bg-sea-green">
                        <span class="material-symbols-outlined text-white">check</span>
                    </div>
                    <div class="flex flex-col gap-0.5">
                        <p class="font-semibold text-base text-midnight-blue">Best Price</p>
                        <p class="font-normal text-sm ">Assured</p>
                    </div>
                </div>

                <div class="flex items-center gap-3">
                    <div class="w-9 h-9 rounded-full flex items-center justify-center bg-sea-green">
                        <span class="material-symbols-outlined text-white">check</span>
                    </div>
                    <div class="flex flex-col gap-0.5">
                        <p class="font-semibold text-base text-midnight-blue">Verified</p>
                        <p class="font-normal text-sm ">Engineers</p>
                    </div>

                </div>

                <div class="flex items-center gap-3">
                    <div class="w-9 h-9 rounded-full flex items-center justify-center bg-sea-green">
                        <span class="material-symbols-outlined text-white">check</span>
                    </div>
                    <div class="flex flex-col gap-0.5">
                        <p class="font-semibold text-base text-midnight-blue">Fast</p>
                        <p class="font-normal text-sm ">Response</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="bg-white  rounded-lg flex items-center   px-29 absolute mx-18 mt-4">
        <div class="flex flex-col items-center gap-2.5 pt-10">
            <div
                class="w-10 h-10 rounded-full  bg-primary flex items-center justify-center text-xl font-bold text-white">
                1
            </div>
            <p class="border-b-2 border-primary pb-2 text-nowrap text-black font-semibold">Service Details</p>
        </div>

        <div class="w-40 border-t-2 border-dashed border-silver-gray"></div>

        <div class="flex flex-col items-center gap-2.5 pt-10">
            <div
                class="w-10 h-10 rounded-full border border-alice-blue bg-ice-blue flex items-center justify-center text-xl font-bold">
                2
            </div>
            <p class="text-nowrap pb-2 text-slate-gray font-normal text-sm">Site Information</p>
        </div>

        <div class="w-40 border-t-2 border-dashed border-silver-gray"></div>

        <div class="flex flex-col items-center gap-2.5 pt-10">
            <div
                class="w-10 h-10 rounded-full border border-alice-blue bg-ice-blue flex items-center justify-center text-xl font-bold">
                3
            </div>
            <p class="text-nowrap pb-2 text-slate-gray font-normal text-sm">Location</p>
        </div>

        <div class="w-40 border-t-2 border-dashed border-silver-gray"></div>

        <div class="flex flex-col items-center gap-2.5 pt-10">
            <div
                class="w-10 h-10 rounded-full border border-alice-blue bg-ice-blue flex items-center justify-center text-xl font-bold">
                4
            </div>
            <p class="text-nowrap pb-2 text-slate-gray font-normal text-sm">Access & Timeline</p>
        </div>

        <div class="w-40 border-t-2 border-dashed border-silver-gray"></div>

        <div class="flex flex-col items-center gap-2.5 pt-10">
            <div
                class="w-10 h-10 rounded-full border border-alice-blue bg-ice-blue flex items-center justify-center text-xl font-bold">
                5
            </div>
            <p class="text-nowrap pb-2 text-slate-gray font-normal text-sm">Review & Submit</p>
        </div>
    </div>

    <div class="mt-40 mx-18 flex items-start gap-4 relative z-10">
        <div class="bg-white rounded-lg shadow-xl p-4 flex-1 ">

            <!--Service Details Section-->
            <div class="flex flex-col gap-4 serviceDetails">
                <div class="flex flex-col gap-1">
                    <p class="font-bold text-navy-blue text-xl">1.What service do you need?</p>
                    <p class="font-normal text-xs text-navy-blue">Select the service category and specific service</p>
                </div>

                <div class="flex items-center gap-3 border border-mist-gray rounded-lg py-3 px-4">
                    <span class="material-symbols-outlined text-muted-steel">search</span>
                    <input type="text"
                        class="focus:ring-0 focus:outline-none w-full placeholder:font-normal placeholder:text-sm placeholder:text-cool-slate font-normal text-sm"
                        placeholder="Search service (e.g. Network Cabling,Rack Installation...)">
                </div>

                <div class="grid grid-cols-4 gap-4">
                    <div
                        class="bg-white border border-porcelain-gray rounded-lg flex flex-col items-center gap-2 p-4 cursor-pointer hover:border-primary hover:bg-frost-blue group">
                        <span class="material-symbols-outlined text-6xl! text-primary">cable</span>
                        <p class="font-bold text-lg text-black group-hover:text-primary">Network Cabling</p>
                        <p class="font-normal text-sm text-muted-steel">Cat6,Cat6A,Fiber</p>
                    </div>

                    <div
                        class="bg-white border border-porcelain-gray rounded-lg flex flex-col items-center gap-2 p-4 cursor-pointer hover:border-primary hover:bg-frost-blue group">
                        <span class="material-symbols-outlined text-6xl! text-primary">storage</span>
                        <p class="font-bold text-lg text-black group-hover:text-primary">Rack Installation</p>
                        <p class="font-normal text-sm text-muted-steel">Rack setup,expansion</p>
                    </div>

                    <div
                        class="bg-white border border-porcelain-gray rounded-lg flex flex-col items-center gap-2 p-4 cursor-pointer hover:border-primary hover:bg-frost-blue group">
                        <span class="material-symbols-outlined text-6xl! text-primary">settings_input_component</span>
                        <p class="font-bold text-lg text-black group-hover:text-primary">Fiber Deployment</p>
                        <p class="font-normal text-sm text-muted-steel">Fiber splicing,testing</p>
                    </div>

                    <div
                        class="bg-white border border-porcelain-gray rounded-lg flex flex-col items-center gap-2 p-4 cursor-pointer hover:border-primary hover:bg-frost-blue group">
                        <span class="material-symbols-outlined text-6xl! text-primary">hard_drive</span>
                        <p class="font-bold text-lg text-black group-hover:text-primary">Server Setup</p>
                        <p class="font-normal text-sm text-muted-steel">Installation & configuration</p>
                    </div>

                    <div
                        class="bg-white border border-porcelain-gray rounded-lg flex flex-col items-center gap-2 p-4 cursor-pointer hover:border-primary hover:bg-frost-blue group">
                        <span class="material-symbols-outlined text-6xl! text-primary">nest_cam_iq_outdoor</span>
                        <p class="font-bold text-lg text-black group-hover:text-primary">CCTV & Security</p>
                        <p class="font-normal text-sm text-muted-steel">CCTV,Access control</p>
                    </div>

                    <div
                        class="bg-white border border-porcelain-gray rounded-lg flex flex-col items-center gap-2 p-4 cursor-pointer hover:border-primary hover:bg-frost-blue group">
                        <span class="material-symbols-outlined text-6xl! text-primary">network_intel_node</span>
                        <p class="font-bold text-lg text-black group-hover:text-primary">Smart Hands</p>
                        <p class="font-normal text-sm text-muted-steel">Remote hands & on-site support</p>
                    </div>

                    <div
                        class="bg-white border border-porcelain-gray rounded-lg flex flex-col items-center gap-2 p-4 cursor-pointer hover:border-primary hover:bg-frost-blue group">
                        <span class="material-symbols-outlined text-6xl! text-primary">electric_bolt</span>
                        <p class="font-bold text-lg text-black group-hover:text-primary">Electrical & HVAC</p>
                        <p class="font-normal text-sm text-muted-steel">Power,AC,Cooling</p>
                    </div>

                    <div
                        class="bg-white border border-porcelain-gray rounded-lg flex flex-col items-center gap-2 p-4 cursor-pointer hover:border-primary hover:bg-frost-blue group">
                        <span class="material-symbols-outlined text-6xl! text-primary">other_admission</span>
                        <p class="font-bold text-lg text-black group-hover:text-primary">Other Services</p>
                        <p class="font-normal text-sm text-muted-steel">Custom requirement</p>
                    </div>
                </div>

                <div class="flex flex-col relative gap-2">
                    <p class="font-bold text-black text-sm">Briefly describe your requirement <span
                            class="text-red">*</span></p>
                    <textarea maxlength="500"
                        class="h-35 resize-none focus:ring-0 focus:outline-none border border-mist-gray w-full rounded-lg  font-normal text-sm p-4"
                        placeholder="Descibe your work in detail,scope,quantity,special instructions..."></textarea>
                    <p class="absolute right-2 bottom-0 font-normal text-xs text-muted-steel">0/500</p>
                </div>

                <div class="flex items-center justify-between mt-10">
                    <button
                        class="w-30 h-12 flex items-center justify-center rounded-md bg-white border border-mist-gray cursor-pointer cancelBtn">
                        <span class="font-semibold text-base text-black">Cancel</span>
                    </button>

                    <button
                        class="w-30 h-12 flex items-center justify-center rounded-md bg-primary cursor-pointer continueBtn text-white gap-3">
                        <span class="font-semibold text-base">Continue</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </button>
                </div>
            </div>

            <!--Site Information Section-->
            <div class="flex flex-col siteInfo hidden">
                <div class="flex flex-col gap-1">
                    <p class="font-bold text-navy-blue text-xl">2.Site Information</p>
                    <p class="font-normal text-xs text-navy-blue">Add site details and work scope to help us understand
                        your requirements better.</p>
                </div>

                <div class="grid grid-cols-3 gap-5 pt-6">
                    <div class="flex flex-col gap-2">
                        <label for="companyname" class="font-semibold text-xs text-deep-indigo">Company / Site Name
                            <span class="text-red">*</span></label>
                        <input type="text"
                            class="border border-pearl-blue rounded-md py-3 px-4 w-full focus:ring-0 focus:outline-none placeholder:font-normal placeholder:text-xs placeholder:text-muted-steel font-normal text-sm"
                            placeholder="Enter Company/Site Name">
                    </div>

                    <div class="flex flex-col gap-2 relative dropdown-wrapper">
                        <label for="companyname" class="font-semibold text-xs text-deep-indigo">Site Type
                            <span class="text-red">*</span></label>
                        <div class="flex items-center justify-between border border-pearl-blue rounded-md py-3 px-4 ">
                            <input type="text"
                                class="cursor-pointer w-full focus:ring-0 focus:outline-none placeholder:font-normal placeholder:text-xs placeholder:text-muted-steel font-normal text-sm"
                                placeholder="Select Site Type" readonly>
                            <span
                                class="cursor-pointer dropdown-toggle material-symbols-outlined">keyboard_arrow_down</span>
                        </div>

                        <div
                            class="dropdownMenu hidden absolute shadow-xl w-full mt-1 bg-white top-full border border-pearl-blue p-4 rounded-md">
                            <ul class="space-y-4">
                                <li class="font-normal text-sm cursor-pointer">Site Type 1</li>
                                <li class="font-normal text-sm cursor-pointer">Site Type 2</li>
                                <li class="font-normal text-sm cursor-pointer">Site Type 2</li>
                                <li class="font-normal text-sm cursor-pointer">Site Type 3</li>
                                <li class="font-normal text-sm cursor-pointer">Site Type 4</li>
                            </ul>
                        </div>
                    </div>



                    <div class="flex flex-col gap-2 relative dropdown-wrapper">
                        <label for="companyname" class="font-semibold text-xs text-deep-indigo">Project Type
                            <span class="text-red">*</span></label>
                        <div class="flex items-center justify-between border border-pearl-blue rounded-md py-3 px-4 ">
                            <input type="text"
                                class="cursor-pointer w-full focus:ring-0 focus:outline-none placeholder:font-normal placeholder:text-xs placeholder:text-muted-steel font-normal text-sm"
                                placeholder="Select Project Type" readonly>
                            <span
                                class="cursor-pointer dropdown-toggle material-symbols-outlined">keyboard_arrow_down</span>
                        </div>

                        <div
                            class="dropdownMenu hidden absolute shadow-xl w-full mt-1 bg-white top-full border border-pearl-blue p-4 rounded-md">
                            <ul class="space-y-4">
                                <li class="font-normal text-sm cursor-pointer">Project Type 1</li>
                                <li class="font-normal text-sm cursor-pointer">Project Type 2</li>
                                <li class="font-normal text-sm cursor-pointer">Project Type 2</li>
                                <li class="font-normal text-sm cursor-pointer">Project Type 3</li>
                                <li class="font-normal text-sm cursor-pointer">Project Type 4</li>
                            </ul>
                        </div>
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="companyname" class="font-semibold text-xs text-deep-indigo">Building / Floor
                            <span class="text-red">*</span></label>
                        <input type="text"
                            class="border border-pearl-blue rounded-md py-3 px-4 w-full focus:ring-0 focus:outline-none placeholder:font-normal placeholder:text-xs placeholder:text-muted-steel font-normal text-sm"
                            placeholder="Enter Address">
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="companyname" class="font-semibold text-xs text-deep-indigo">Landmark (Optional)
                        </label>
                        <input type="text"
                            class="border border-pearl-blue rounded-md py-3 px-4 w-full focus:ring-0 focus:outline-none placeholder:font-normal placeholder:text-xs placeholder:text-muted-steel font-normal text-sm"
                            placeholder="Enter Landmark">
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="companyname" class="font-semibold text-xs text-deep-indigo">Estimated Site Area
                            (Optional)
                        </label>
                        <div class="flex items-center justify-between border border-pearl-blue rounded-md ">
                            <input type="number"
                                class="w-full py-3 px-4  focus:ring-0 focus:outline-none placeholder:font-normal placeholder:text-xs placeholder:text-muted-steel font-normal text-sm"
                                placeholder="Enter Area">
                            <div
                                class="bg-snow-white border-l border-pearl-blue w-1/3 flex items-center justify-center h-full">
                                <span class="font-semibold text-xs">Sq.ft</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-1 pt-8">
                    <div class="flex items-center gap-2">
                        <p class="font-bold text-xl ">Scope Of Work</p>
                        <span class="material-symbols-outlined text-primary text-lg! font-bold!">info</span>
                    </div>
                    <p class="font-normal text-xs">Provide approximate details of the work to be performed</p>
                </div>

                <div class="pt-4 grid grid-cols-4 gap-4">
                    <div class="border border-pearl-blue rounded-md p-4 counter flex flex-col gap-2">
                        <label for="companyname" class="font-semibold text-xs text-deep-indigo">Number of Engineers
                            <span class="text-red">*</span></label>
                        <div class="border border-pearl-blue rounded-md flex items-center">
                            <button
                                class="bg-snow-white border-r rounded-tl-md rounded-bl-md border-pearl-blue w-1/5 h-full flex items-center justify-center cursor-pointer decrementBtn">
                                <span class="material-symbols-outlined text-lg!">remove</span>
                            </button>
                            <input type="number"
                                class="focus:ring-0 focus:outline-none font-semibold text-sm count py-3 w-full text-center"
                                value="0" readonly>
                            <button
                                class="bg-snow-white border-l rounded-tr-md rounded-br-md border-pearl-blue w-1/5 h-full flex items-center justify-center cursor-pointer incrementBtn">
                                <span class="material-symbols-outlined text-lg!">add</span>
                            </button>
                        </div>
                    </div>

                    <div class="border border-pearl-blue rounded-md p-4 counter flex flex-col gap-2">
                        <label for="companyname" class="font-semibold text-xs text-deep-indigo">Number of Racks
                            <span class="text-red">*</span></label>
                        <div class="border border-pearl-blue rounded-md flex items-center">
                            <button
                                class="bg-snow-white border-r rounded-tl-md rounded-bl-md border-pearl-blue w-1/5 h-full flex items-center justify-center cursor-pointer decrementBtn">
                                <span class="material-symbols-outlined text-lg!">remove</span>
                            </button>
                            <input type="number"
                                class="focus:ring-0 focus:outline-none font-semibold text-sm count py-3 w-full text-center"
                                value="0" readonly>
                            <button
                                class="bg-snow-white border-l rounded-tr-md rounded-br-md border-pearl-blue w-1/5 h-full flex items-center justify-center cursor-pointer incrementBtn">
                                <span class="material-symbols-outlined text-lg!">add</span>
                            </button>
                        </div>
                    </div>

                    <div class="border border-pearl-blue rounded-md p-4 counter flex flex-col gap-2">
                        <label for="companyname" class="font-semibold text-xs text-deep-indigo">Estimated Cable Runs
                            <span class="text-red">*</span></label>
                        <div class="border border-pearl-blue rounded-md flex items-center">
                            <button
                                class="bg-snow-white border-r rounded-tl-md rounded-bl-md border-pearl-blue w-1/5 h-full flex items-center justify-center cursor-pointer decrementBtn">
                                <span class="material-symbols-outlined text-lg!">remove</span>
                            </button>
                            <input type="number"
                                class="focus:ring-0 focus:outline-none font-semibold text-sm count py-3 w-full text-center"
                                value="0" readonly>
                            <button
                                class="bg-snow-white border-l rounded-tr-md rounded-br-md border-pearl-blue w-1/5 h-full flex items-center justify-center cursor-pointer incrementBtn">
                                <span class="material-symbols-outlined text-lg!">add</span>
                            </button>
                        </div>
                    </div>

                    <div class="border border-pearl-blue rounded-md p-4 counter flex flex-col gap-2">
                        <label for="companyname" class="font-semibold text-xs text-deep-indigo">Estimated Duration
                            <span class="text-red">*</span></label>
                        <div class="border border-pearl-blue rounded-md flex items-center">
                            <button
                                class="bg-snow-white border-r rounded-tl-md rounded-bl-md border-pearl-blue w-1/5 h-full flex items-center justify-center cursor-pointer decrementBtn">
                                <span class="material-symbols-outlined text-lg!">remove</span>
                            </button>
                            <input type="number"
                                class="focus:ring-0 focus:outline-none font-semibold text-sm count py-3 w-full text-center"
                                value="0" readonly>
                            <button
                                class="bg-snow-white border-l rounded-tr-md rounded-br-md border-pearl-blue w-1/5 h-full flex items-center justify-center cursor-pointer incrementBtn">
                                <span class="material-symbols-outlined text-lg!">add</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mt-10 border border-periwinkle-mist rounded-lg bg-arctic-mist py-3.5  px-4 flex flex-col">
                    <div class="flex items-center gap-2">
                        <img src="/static/img/sparkles.webp" alt="sparkles" class="w-10">
                        <div class="flex flex-col ">
                            <div class="flex items-center gap-2">
                                <p class="font-semibold text-sm">AI Recommendation</p>
                                <div class="bg-baby-blue w-10 h-6 flex items-center justify-center rounded-full">
                                    <span class="text-xs text-primary font-semibold">New</span>
                                </div>
                            </div>
                            <p class="font-normal text-xs">Based on your scope, here's your recommended plan.</p>
                        </div>
                        <div class="w-px h-15 bg-black mt-2 ml-2"></div>
                        <div class="flex flex-col gap-1 pl-2">
                            <p class="font-semibold text-sm">Recommended Engineers</p>
                            <p class="font-bold text-lg">10 Engineers</p>
                        </div>
                        <div class="w-px h-15 bg-black mt-2 ml-2"></div>
                        <div class="flex flex-col gap-1 pl-2">
                            <p class="font-semibold text-sm">Estimated Duration</p>
                            <p class="font-bold text-lg">2 Days</p>
                        </div>
                        <div class="w-px h-15 bg-black mt-2 ml-2"></div>
                        <div class="flex flex-col gap-1 pl-2">
                            <div class="flex items-center gap-2">
                                <p class="font-semibold text-sm">Estimated Cost Range</p>
                                <span class="material-symbols-outlined text-primary text-base!">info</span>
                            </div>
                            <p class="font-bold text-lg text-forest-green">
                                &#8377;7,000 - &#8377;12000
                            </p>
                        </div>
                    </div>

                    <div class="flex items-center justify-end">
                        <a href="#" class="flex items-center gap-2 text-primary">
                            <span class="font-semibold  text-xs">View Cost Breakdown</span>
                            <span class="material-symbols-outlined text-sm!">arrow_forward</span>
                        </a>
                    </div>


                </div>
                <div class="pt-7 flex flex-col gap-1 relative">
                    <p class="font-bold text-sm ">Additional Requirements <span class="font-normal">(Optional)</span>
                    </p>
                    <p class="font-semibold text-xs">Any specific equipment,tools,or special instructions for the
                        engineers?</p>

                    <textarea maxlength="500"
                        class="h-35 mt-2 resize-none focus:ring-0 focus:outline-none border border-mist-gray w-full rounded-lg  font-normal text-sm p-4"
                        placeholder="Write your requirements here..."></textarea>
                    <p class="absolute right-2 bottom-0 font-normal text-xs text-muted-steel">0/500</p>
                </div>

                <div class="flex items-center justify-between mt-10">
                    <button
                        class="w-30 h-12 flex items-center justify-center rounded-md bg-white border border-primary cursor-pointer cancelBtn">
                        <span class="font-semibold text-base text-primary">Back</span>
                    </button>

                    <button
                        class="w-30 h-12 flex items-center gap-2 justify-center rounded-md bg-white border border-primary cursor-pointer">
                        <span class="material-symbols-outlined text-primary">bookmark</span>
                        <span class="font-semibold text-base text-primary">Save Draft</span>
                    </button>

                    <button
                        class="w-30 h-12 flex items-center justify-center rounded-md bg-primary cursor-pointer continueBtn text-white gap-3">
                        <span class="font-semibold text-base">Continue</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </button>
                </div>
            </div>
        </div>

        <!--Right Section-->
        <div class="flex flex-col gap-3 w-75">
            <div class="bg-white shadow-lg rounded-lg p-4 flex flex-col ">
                <p class="font-bold text-xl">Booking Summary</p>
                <div class="flex items-center justify-between mt-5">
                    <p class="font-semibold text-xs ">Service</p>
                    <p class="font-bold text-sm text-primary">Network Cabling</p>
                </div>

                <div class="flex items-center justify-between pt-3">
                    <p class="font-semibold text-xs ">Location</p>
                    <p class="font-bold text-xs text-muted-steel">Not selected</p>
                </div>

                <div class="flex items-center justify-between pt-3">
                    <p class="font-semibold text-xs ">Date</p>
                    <p class="font-bold text-xs text-muted-steel">Not selected</p>
                </div>

                <div class="flex items-center justify-between pt-3">
                    <p class="font-semibold text-xs ">Site Address</p>
                    <p class="font-bold text-xs text-muted-steel">Not selected</p>
                </div>
            </div>

            <div class="bg-sky-mist border border-cloud-white rounded-lg p-5 flex items-start gap-3">
                <div class="w-9 h-9 rounded-full flex items-center justify-center bg-baby-blue">
                    <span class="material-symbols-outlined text-primary">shield</span>
                </div>
                <div class="flex flex-col gap-0.5">
                    <p class="text-primary font-bold text-lg">Get instant quotes from verified vendors</p>
                    <p class="font-normal text-xs">You'll receive competitive offers within 15 minutes.</p>
                </div>
            </div>

            <div class="bg-white shadow-xl rounded-lg p-4 flex flex-col">
                <p class="font-bold text-xl">Why choose FE?</p>

                <div class="flex items-center gap-2 pt-6">
                    <span class="material-symbols-outlined text-primary text-base!">check_circle</span>
                    <p class="text-xs font-semibold">Verified engineers & vendors</p>
                </div>

                <div class="flex items-center gap-2 pt-2">
                    <span class="material-symbols-outlined text-primary text-base!">check_circle</span>
                    <p class="text-xs font-semibold">Pan India coverage (120+ cities)</p>
                </div>

                <div class="flex items-center gap-2 pt-2">
                    <span class="material-symbols-outlined text-primary text-base!">check_circle</span>
                    <p class="text-xs font-semibold">Best price & on-time delivery</p>
                </div>

                <div class="flex items-center gap-2 pt-2">
                    <span class="material-symbols-outlined text-primary text-base!">check_circle</span>
                    <p class="text-xs font-semibold">AI powered tracking & reports</p>
                </div>

                <div class="flex items-center gap-2 pt-2">
                    <span class="material-symbols-outlined text-primary text-base!">check_circle</span>
                    <p class="text-xs font-semibold">Secure & compliant process</p>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-xl p-4 flex items-center gap-2">
                <div class="bg-sky-mist rounded-full flex items-center justify-center w-9 h-9">
                    <span class="material-symbols-outlined text-primary">call</span>
                </div>
                <div class="flex flex-col gap-1">
                    <p class="font-semibold text-xs">Need Help?</p>
                    <p class="font-semibold text-xs">+91 9876543210</p>
                    <p class="font-semibold text-xs text-muted-steel">Mon - Sat,9:00 AM - 8:00 PM</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-18 mt-5 bg-powder-blue shadow-xl  px-10 py-8 flex items-center justify-between relative z-10">
        <div class="flex items-center gap-3">
            <div class="w-15 h-15 rounded-full bg-mist-blue flex items-center justify-center">
                <span class="material-symbols-outlined text-primary text-4xl!">engineering</span>
            </div>
            <div class="flex flex-col">
                <p class="text-2xl font-semibold text-royal-blue">15,000+</p>
                <p class="font-normal text-sm">Certified Engineers</p>
            </div>
        </div>

        <div class="flex items-center gap-3">
            <div class="w-15 h-15 rounded-full bg-mist-blue flex items-center justify-center">
                <span class="material-symbols-outlined text-primary text-4xl!">storefront</span>
            </div>
            <div class="flex flex-col">
                <p class="text-2xl font-semibold text-black">350+</p>
                <p class="font-normal text-sm">Verified Vendors</p>
            </div>
        </div>

        <div class="flex items-center gap-3">
            <div class="w-15 h-15 rounded-full bg-mist-blue flex items-center justify-center">
                <span class="material-symbols-outlined text-primary text-4xl!">location_city</span>
            </div>
            <div class="flex flex-col">
                <p class="text-2xl font-semibold text-black">120+</p>
                <p class="font-normal text-sm">Cities Covered</p>
            </div>
        </div>

        <div class="flex items-center gap-3">
            <div class="w-15 h-15 rounded-full bg-mist-blue flex items-center justify-center">
                <span class="material-symbols-outlined text-primary text-4xl!">acute</span>
            </div>
            <div class="flex flex-col">
                <p class="text-2xl font-semibold text-royal-blue">98.7%</p>
                <p class="font-normal text-sm">On-time Completion</p>
            </div>
        </div>

        <img src="/static/img/request-service/request-service-1.webp" alt="Engineers" class="w-50">

    </div>

    <div class="bg-white mx-18 mt-5 rounded-lg shadow-xl p-5 flex items-start justify-between relative z-10">
        <p class="font-bold text-3xl text-black">How it works</p>

        <div class="flex flex-col items-center">
            <div
                class="w-10 h-10 rounded-full border border-alice-blue bg-ice-blue flex items-center justify-center text-xl font-bold text-primary">
                1
            </div>
            <p class="font-bold text-sm text-black">Submit Request</p>
            <p class="font-normal text-sm text-steel-gray pt-2 max-w-22.5 text-center">Tell us your requirements</p>
        </div>

        <span class="material-symbols-outlined text-steel-gray my-auto">arrow_forward</span>

        <div class="flex flex-col items-center">
            <div
                class="w-10 h-10 rounded-full border border-alice-blue bg-ice-blue flex items-center justify-center text-xl font-bold text-primary">
                2
            </div>
            <p class="font-bold text-sm text-black">Get Best Offers</p>
            <p class="font-normal text-sm text-steel-gray pt-2 max-w-40 text-center">Verified vendors submit their
                quotes</p>
        </div>

        <span class="material-symbols-outlined text-steel-gray my-auto">arrow_forward</span>

        <div class="flex flex-col items-center">
            <div
                class="w-10 h-10 rounded-full border border-alice-blue bg-ice-blue flex items-center justify-center text-xl font-bold text-primary">
                3
            </div>
            <p class="font-bold text-sm text-black">Assign Vendor</p>
            <p class="font-normal text-sm text-steel-gray pt-2 max-w-40 text-center">You choose the best offer</p>
        </div>

        <span class="material-symbols-outlined text-steel-gray my-auto">arrow_forward</span>

        <div class="flex flex-col items-center">
            <div
                class="w-10 h-10 rounded-full border border-alice-blue bg-ice-blue flex items-center justify-center text-xl font-bold text-primary">
                4
            </div>
            <p class="font-bold text-sm text-black">Work Begins</p>
            <p class="font-normal text-sm text-steel-gray pt-2 max-w-35 text-center">Track progress in real-time</p>
        </div>

        <span class="material-symbols-outlined text-steel-gray my-auto">arrow_forward</span>

        <div class="flex flex-col items-center">
            <div
                class="w-10 h-10 rounded-full border border-alice-blue bg-ice-blue flex items-center justify-center text-xl font-bold text-primary">
                5
            </div>
            <p class="font-bold text-sm text-black">Completion</p>
            <p class="font-normal text-sm text-steel-gray pt-2 max-w-35 text-center">AI reports & documentation</p>
        </div>

    </div>

    <div class="mx-18 mt-5 rounded-lg bg-primary px-5 py-7 flex items-center justify-between relative z-10">
        <div class="flex flex-col">
            <p class="font-semibold text-white text-2xl">Not sure what service you need?</p>
            <p class="font-normal text-white text-sm">Talk to our experts and get guidance.</p>
        </div>

        <div class="flex items-center gap-3">
            <button class="bg-white w-52 h-12 flex items-center justify-center gap-5 rounded-lg cursor-pointer!">
                <span class="font-semibold text-base text-primary">Talk to Expert</span>
                <span class="material-symbols-outlined text-primary">support_agent</span>
            </button>
            <p class="font-semibold text-white text-sm">Or</p>

            <button
                class="w-52 h-12 flex items-center justify-center gap-5 rounded-lg cursor-pointer! border border-white">
                <span class="font-semibold text-base text-white">Track Existing Job</span>
                <span class="material-symbols-outlined text-white">location_on</span>
            </button>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="/static/script/pages/request-service.js"></script>
{% endblock %}